@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kaushan+Script&display=swap");

/* shared styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body{
  background-color: rgba(0, 0, 0, 0.884)
}

.display-flex {
  display: flex;
}

.span{
  font-family: "Kaushan Script", cursive;
}


/* header styels  */
/* nav styles  */

header {
  background: #33313170;
}

.navbar {
  padding: 10px;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  align-items: center;
}
.navbar h2 {
  color: rgb(230, 83, 60);
  font-weight: 600;
  font-size: 40px;
}

nav ul {
  list-style: none;
}
.nav-options{
    border: 1px solid rgba(255, 255, 255, 0.089);
    padding: 10px 15px; 
    text-align: center;
    border-radius: 45px;
}
.home{
  background-color: rgb(230, 83, 60);
  border-radius: 45px;
  padding: 5px 15px;
}
.home:hover{
  background-color: rgb(255, 255, 255, 0.1);
  color: rgb(230, 83, 60);
  cursor: pointer;
}
nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 24px;
  color: #ffffff;
  border-radius: 45px;
  padding: 5px 15px;
}

nav ul li a:hover{
  background-color: rgb(230, 83, 60);
}

.menu{
  display: none;
}

/* banner styles  */

.banner-section{
  max-width: 80%;
  margin: 0 auto;
}

.banner-content{
  width: 50%;
  margin: 0 auto;
  color: white;
}


.banner-title{
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.banner-desc p{
  color: white;
  font-size: 1.5rem;
  opacity: .4;
}


.banner-button{
  background-color: rgb(230, 83, 60);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 45px;
  cursor: pointer;
}

.banner-button:hover{
  background-color: rgb(255, 255, 255, 0.1);
  color: rgb(230, 83, 60);
}

.banner-button-secondary{
  background-color: rgb(255, 255, 255, 0.1);
  color: white ;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 45px;
  margin-top: 20px;
  cursor: pointer;
}

.banner-button-secondary:hover{
  background-color: white;
  color: rgb(230, 83, 60);
}

.banner-image{
  width: 50%;
}

.banner-image img{
  margin-left: 300px;
  position: relative;
}


.banner-image-content{
  background-color: rgba(255, 255, 255, 0.171);
  backdrop-filter: blur(5px);
  color: white;
  padding: 20px;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  position: absolute;
  top: 65%;
  left: 65%;
  transform: translate(-50%, -50%);

}

.circle p{
  background-color:rgb(230, 83, 60) ;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.img-content p , .banner-image-content-2 p{
  margin-top: 5px;
  opacity: .4;
}

.banner-image-content-2{
  background-color: rgba(255, 255, 255, 0.171);
  backdrop-filter: blur(5px);
  padding: 20px;
  width: 200px;
  color: white;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  position: absolute;
  top: 35%;
  left: 84%;
  transform: translate(-50%, -50%);
}

/* main section  */

main{
  max-width: 80%;
  margin: 0 auto;
}


/* services sections styles  */
.services{
  color: #ffffff;
}

.service-title{
  font-size: 3rem;
  font-weight: 600;
  margin: 30px 0;
  text-align: center;
}

.services-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.service-card{
  width: 100%;
  max-width: 350px;
  margin: 30px auto;
  border-radius: 20px;
  padding: 30px;
  line-height: 30px;
  box-shadow: 0px 2px 4px rgba(228, 222, 222, 0.842);
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
}
.service-card h3{
  font-size: 2rem;
  margin-bottom: 10px;
}
.service-card p{
  opacity: .6;
}
.service-icon{
  font-size: 1.8rem;
  margin-bottom: 20px;

}













/* mobile responsive  */

@media screen and (max-width: 576px) {
  .navbar{
    padding: 15px 20px;
    max-width: 100%;
  }
  .nav-options{
    display: none;
  }
  .menu{
    display: block;
    color: white;
   font-size: 30px;
  }
  .banner-section{
    padding: 0px;
    max-width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .banner-content{
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .banner-title{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .banner-image img{
    margin-left: 10px;
    position: relative;
  }
  .banner-image-content{
    top: 105%;
    left: 25%;
  }
  .banner-image-content-2{
    top: 85%;
    left: 78%;
  }


  .services-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
