@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kaushan+Script&display=swap");

/* shared styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: rgba(0, 0, 0, 0.884);
}

.display-flex {
  display: flex;
}


.button {
  background-color: rgb(230, 83, 60);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 45px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(255, 255, 255, 0.1);
  color: rgb(230, 83, 60);
}

.button-secondary {
  background-color: rgb(255, 255, 255, 0.1);
  color: rgb(230, 83, 60);
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.192);
  border-radius: 45px;
  margin-top: 20px;
  cursor: pointer;
}

.button-secondary:hover {
  background-color: rgb(230, 83, 60);
  color: white;
}

.section-heading {
  text-align: center;
  margin-bottom: 40px;
}
.section-heading h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 40px;
}
.section-heading p {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 5px;
  opacity: 0.6;
}

/* header styels  */
/* nav styles  */

header {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.089) , rgba(0, 0, 0, 0.137));
}

.navbar {
  padding: 10px;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  align-items: center;
}
.navbar h2 {
  color: rgb(230, 83, 60);
  font-weight: 600;
  font-size: 40px;
}

nav ul {
  list-style: none;
}
.nav-options {
  border: 1px solid rgba(255, 255, 255, 0.089);
  padding: 10px;
  text-align: center;
  border-radius: 45px;
}
.home {
  background-color: rgb(230, 83, 60);
  border-radius: 45px;
  padding: 5px 15px;
}
.home:hover {
  background-color: rgb(255, 255, 255, 0.1);
  color: rgb(230, 83, 60);
  cursor: pointer;
}
nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 24px;
  color: #ffffff;
  border-radius: 45px;
  padding: 5px 15px;
}

nav ul li a:hover {
  background-color: rgb(230, 83, 60);
}

.menu {
  display: none;
}

/* banner styles  */

.banner-section {
  max-width: 80%;
  margin: 0 auto;
}

.banner-content {
  width: 50%;
  margin: 0 auto;
  color: white;
}
.span {
  font-family: "Kaushan Script", cursive;
  color: white;
}
.banner-title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.banner-desc p {
  color: white;
  font-size: 1.5rem;
  opacity: 0.4;
}

.banner-image {
  width: 50%;
}

.banner-image img {
  margin-left: 300px;
  position: relative;
}

.banner-image-content {
  background-color: rgba(255, 255, 255, 0.171);
  color: white;
  padding: 20px;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  position: absolute;
  top: 65%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.circle p {
  background-color: rgb(230, 83, 60);
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
.circle p i {
  font-size: 2rem;
  line-height: 45px;
  margin-left: 13px;
  color: white;
}

.img-content p,
.banner-image-content-2 p {
  margin-top: 5px;
  opacity: 0.4;
}

.banner-image-content-2 {
  background-color: rgba(255, 255, 255, 0.171);
  padding: 20px;
  width: 200px;
  color: white;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  position: absolute;
  top: 35%;
  left: 84%;
  transform: translate(-50%, -50%);
}

/* main section  */

main {
  color: white;
}

/* change habits styles  */

.change-habits-section {
  max-width: 80%;
  margin: 0 auto;
  color: #ffffff;
}

.change-habits-card {
  max-width: 350px;
  margin: 30px 0;
  border-radius: 20px;
  padding: 30px;
  background-color: rgba(252, 252, 252, 0.014);
  text-align: center;
}
.change-habits-img img {
  border: 1px solid rgba(255, 255, 255, 0.308);
  border-radius: 50%;
}
.card-desc h3 {
  font-size: 1.5rem;
  margin: 20px;
}
.card-desc p {
  opacity: 0.5;
  margin-top: 10px;
}
.change-habits-content {
  justify-content: space-between;
}

/* run section styles  */

.run-section {
  max-width: 80%;
  margin: 0 auto;
  background-color: rgb(34, 34, 34);
  padding: 20px;
  border-radius: 20px;
  justify-content: space-between;
}

.run-content {
  width: 40%;
  align-content: center;
  margin-left: 70px;
}

.run-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.run-desc {
  font-size: 1.2rem;
  opacity: 0.5;
  margin-bottom: 30px;
}
.run-image {
  width: 50%;
}
.run-image img {
  width: 80%;
  border-radius: 20px;
  object-fit: cover;
  margin-left: 120px;
}

/* trainings exsercise section styles  */

.trainings-and-exercise-section {
  max-width: 80%;
  margin: 0 auto;
}


.row-1{
  display: grid;
  grid-template-columns: 30% 40% 30%;
}
.trainings-and-exercise-card-1 p{
  height: 300px;
  background-color: rgba(6, 255, 209, 0.507);
  background-image: url(./images/exercise1.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.trainings-and-exercise-card-1{
  position: relative;
}
.train-ex-card1{
  position: absolute;
  bottom: 10px;
  left: 15px;
}


.trainings-and-exercise-card-2{
  position: relative;
}
.train-ex-card2{
  position: absolute;
  bottom: 240px;
  left: 15px;
}
.trainings-and-exercise-card-2 p{
  height: 300px;
  background-color: rgba(255, 0, 0, 0.3);
  background-image: url(./images/exercise2.png);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.trainings-and-exercise-card-3{
  position: relative;
}
.train-ex-card3{
  position: absolute;
  bottom: 10px;
  left: 15px;
}
.trainings-and-exercise-card-3 p{
  height: 300px;
  background-color:rgba(0, 0, 0, 0.5);
  background-image: url(./images/exercise3.png);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.row-2{
  display: grid;
  grid-template-columns: 40% 25% 35%;
}

.trainings-and-exercise-card-4{
  position: relative;
}
.train-ex-card4{
  position: absolute;
  bottom: 240px;
  left: 480px;
}
.trainings-and-exercise-card-4 p{
  height: 300px;
  background-color:rgba(0, 0, 0, 0.5);
  background-image: url(./images/exercise4.png);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.trainings-and-exercise-card-5{
  position: relative;
}
.train-ex-card5{
  position: absolute;
  bottom: 15px;
  left: 80px;
}
.trainings-and-exercise-card-5 p{
  height: 300px;
  background-color:rgba(68, 255, 0, 0.418);
  background-image: url(./images/exercise5.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.trainings-and-exercise-card-6{
  position: relative;
}
.train-ex-card6{
  position: absolute;
  bottom: 10px;
  left: 390px;
}
.trainings-and-exercise-card-6 p{
  height: 300px;
  background-color:rgba(0, 71, 255, 0.3);
  background-image: url(./images/exercise6.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* bmi calculator styles  */

.bmi-calculator-section {
  max-width: 100%;
}

.bmi-calc-container {
  justify-content: space-between;
  max-width: 100%;
  margin: 0;
  background-color: rgb(34, 34, 34);
  padding: 20px;
}

.bmi-calc-table {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  margin-top: 20px;
}
.table-title {
  font-weight: 600;
  margin: 20px 0;
  text-align: center;
  font-size: 1.8rem;
}
table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  font-size: 1.2rem;
}

td,
th {
  border: 1px solid rgba(255, 255, 255, 0.151);
  text-align: center;
  padding: 8px;
}
td {
  opacity: 0.6;
}
.bmi-calculator-content {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.bmi-result-title {
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 25px;
}
.bmi-result-desc {
  font-size: 1rem;
  opacity: 0.5;
  margin-bottom: 20px;
}
.input-types-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bmi-calculator-content input[type="number"],
input[type="text"],
select {
  width: 98%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.267);
}
.select{
  width: 99%;
}

.bmi-calculator-content button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(230, 83, 60);
  color: white;
  cursor: pointer;
}

/* fitness tips section  */
.fitness-tips-section {
  max-width: 80%;
  margin: 0 auto;
}

.fitness-tip {
  height: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.068);
  display: flex;
  background-image: linear-gradient(to bottom right, rgba(5, 5, 5, 0.089) , rgba(0, 0, 0, 0.137) , rgba(0, 0, 0, 0.8));
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.tip-content{
  width: 50%;
  padding: 20px;
}
.tip-content h3 {
  font-size: 3rem;
  margin: 15px 0;
}
span{
  color: rgb(230, 83, 60);
}
.column{
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0.089) , rgba(0, 0, 0, 0.137) , rgba(0, 0, 0, 0.8));
}

.tip-content p {
  font-size: 1.5rem;
  opacity: 0.6;
  padding: 20px 0;
}

.fitness-tip img {
  width: 50%;
  height: 450px;
  border-radius: 10px;
  object-fit: cover;
}

/* team section  */

.meet-our-team-section {
  max-width: 80%;
  margin: 40px auto;
}

.meet-our-team-content {
  background-color: #33313170;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.team-member {
  position: relative;
}

.team-member img {
  width: 480px;
  height: 400px;
  border-radius: 20px;
}

.team-member-desc {
  position: absolute;
  bottom: 25px;
  left: 30px;
}

.team-member-desc h3 {
  font-size: 1.6rem;
}

.team-member-desc p {
  font-size: 1rem;
  opacity: 0.6;
}

/* footer section  */

footer {
  width: 100%;
  background-color: #333131;
}

.footer-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 80px;
}
.footer-content {
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.151);
}
.footer-left,
.footer-right,
.footer-center {
  width: 25%;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.footer-left h2 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: rgb(230, 83, 60);
}
.footer-left p,
.footer-center p,
.footer-right p {
  color: white;
  opacity: 0.5;
  margin-bottom: 20px;
}

.footer-center h2,
.footer-right h2 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 10px;
}
.social-media-icons {
  gap: 30px;
  margin-top: 40px;
}

.social-media-icons i {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.534);
}
.social-media-icons i:hover {
  color: rgb(230, 83, 60);
}

.copyright p {
  margin-top: 20px;
  color: white;
  opacity: 0.5;
  text-align: center;
}

/* mobile responsive  */

@media screen and (max-width: 576px) {
  .section-heading h2 {
    font-size: 2rem;
  }
  .section-heading p {
    font-size: 1rem;
  }



  .navbar {
    padding: 15px 20px;
    max-width: 100%;
  }
  .nav-options {
    display: none;
  }
  .menu {
    display: block;
    color: white;
    font-size: 30px;
  }




  .banner-section {
    padding: 0px;
    max-width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .banner-content {
    width: 100%;
    padding: 10px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .banner-desc p {
    font-size: 1.2rem;
    opacity: 0.5;
    margin-bottom: 10px;
  }
  .banner-image img {
    margin-left: 0px;
    width: 290px;
    position: relative;
  }
  .banner-image-content {
    width: 170px;
    height: 100px;
    top: 100%;
    left: 25%;
  }
  .banner-image-content-2 {
    width: 170px;
    height: 110px;
    top: 80%;
    left: 79%;
  }




  .change-habits-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }




  .run-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .run-content {
    width: 100%;
    padding: 10px 20px;
    margin: 20px;
    flex-direction: column;
  }
  .run-image {
    width: 100%;
  }
  .run-image img {
    width: 100%;
    margin-left: 0;
  }




  .trainings-and-exercise-card-2,
  .trainings-and-exercise-card-4{
    display: none;
  }
  .train-ex-card6{
    left: 70px;
  }
  .train-ex-card1 h3,
  .train-ex-card3 h3,
  .train-ex-card5 h3,
  .train-ex-card6 h3{
    font-size: .8rem;
  }
  .trainings-and-exercise-card-1 p,
  .trainings-and-exercise-card-3 p,
  .trainings-and-exercise-card-5 p,
  .trainings-and-exercise-card-6 p{
    height: 200px;
  }
  .train-ex-card6 h3{
    left: 70px;
  }
  .row-1 {
    grid-template-columns: 45% 55%;
  }
  .row-2 {
    grid-template-columns: 55% 45%;
  }




  .bmi-calc-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .bmi-calc-table {
    width: 100%;
    margin-top: 20px;
  }
  .bmi-calculator-content {
    width: 100%;
  }



  .fitness-tips {
    grid-template-columns: repeat(1, 1fr);
  }
  .fitness-tip {
    width: 340px;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .tip-content{
    width: 100%;
    padding: 0;
  }
  .tip-content h3 {
    font-size: 1.5rem;
  }
  .column{
    flex-direction: column-reverse;
  }
  
  .tip-content p {
    font-size: 1rem;
  }
  .fitness-tip img{
    height: 300px;
    width: 100%;
  }




  .meet-our-team-content {
    grid-template-columns: 1fr;
  }
  .team-member img {
    width: 100%;
    height: auto;
  }


  

  .footer-container {
    padding: 20px;
    max-width: 100%;
    margin: 0;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-left,
  .footer-right,
  .footer-center {
    width: 100%;
    padding: 20px;
  }
}
