@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kaushan+Script&display=swap");

/* shared styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: rgba(0, 0, 0, 0.884);
}

.display-flex {
  display: flex;
}

.span {
  font-family: "Kaushan Script", cursive;
}

/* header styels  */
/* nav styles  */

header {
  background: #33313170;
}

.navbar {
  padding: 10px;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  align-items: center;
}
.navbar h2 {
  color: rgb(230, 83, 60);
  font-weight: 600;
  font-size: 40px;
}

nav ul {
  list-style: none;
}
.nav-options {
  border: 1px solid rgba(255, 255, 255, 0.089);
  padding: 10px 15px;
  text-align: center;
  border-radius: 45px;
}
.home {
  background-color: rgb(230, 83, 60);
  border-radius: 45px;
  padding: 5px 15px;
}
.home:hover {
  background-color: rgb(255, 255, 255, 0.1);
  color: rgb(230, 83, 60);
  cursor: pointer;
}
nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 24px;
  color: #ffffff;
  border-radius: 45px;
  padding: 5px 15px;
}

nav ul li a:hover {
  background-color: rgb(230, 83, 60);
}

.menu {
  display: none;
}

/* banner styles  */

.banner-section {
  max-width: 80%;
  margin: 0 auto;
}

.banner-content {
  width: 50%;
  margin: 0 auto;
  color: white;
}

.banner-title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.banner-desc p {
  color: white;
  font-size: 1.5rem;
  opacity: 0.4;
}

.button {
  background-color: rgb(230, 83, 60);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 45px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(255, 255, 255, 0.1);
  color: rgb(230, 83, 60);
}

.button-secondary {
  background-color: rgb(255, 255, 255, 0.1);
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 45px;
  margin-top: 20px;
  cursor: pointer;
}

.button-secondary:hover {
  background-color: white;
  color: rgb(230, 83, 60);
}

.banner-image {
  width: 50%;
}

.banner-image img {
  margin-left: 300px;
  position: relative;
}

.banner-image-content {
  background-color: rgba(255, 255, 255, 0.171);
  backdrop-filter: blur(5px);
  color: white;
  padding: 20px;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  position: absolute;
  top: 65%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.circle p {
  background-color: rgb(230, 83, 60);
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.img-content p,
.banner-image-content-2 p {
  margin-top: 5px;
  opacity: 0.4;
}

.banner-image-content-2 {
  background-color: rgba(255, 255, 255, 0.171);
  backdrop-filter: blur(5px);
  padding: 20px;
  width: 200px;
  color: white;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  position: absolute;
  top: 35%;
  left: 84%;
  transform: translate(-50%, -50%);
}

/* main section  */

main {
  color: white;
}

/* services sections styles  */
.services {
  max-width: 80%;
  margin: 0 auto;
  color: #ffffff;
}

.service-title {
  font-size: 3rem;
  font-weight: 600;
  margin: 30px 0;
  text-align: center;
}

.services-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.service-card {
  width: 100%;
  max-width: 350px;
  margin: 30px auto;
  border-radius: 20px;
  padding: 30px;
  line-height: 30px;
  background-color: rgb(34, 34, 34);
  text-align: center;
}
.service-card h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.service-card p {
  opacity: 0.6;
}
.service-icon {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.service-icon i {
  color: rgb(230, 83, 60);
}

/* change habits styles  */

.change-habits-section{
  max-width: 80%;
  margin: 0 auto;
  color: #ffffff;
}

.change-habits-title {
  font-size: 3rem;
  font-weight: 600;
  margin: 30px 0;
  text-align: center;
}
.change-habits-desc {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
  opacity: 0.6;
}
.change-habits-card {
  max-width: 350px;
  margin: 30px 0;
  border-radius: 20px;
  padding: 30px;
  background-color: rgba(97, 61, 61, 0.014);
  text-align: center;
}
.change-habits-img img {
  border: 1px solid white;
  border-radius: 50%;
}
.card-desc h3 {
  font-size: 1.5rem;
  margin: 20px;
}
.card-desc p {
  opacity: 0.5;
  margin-top: 10px;
}
.change-habits-content {
  justify-content: space-between;
}

/* run section styles  */

.run-section {
  max-width: 80%;
  margin: 0 auto;
  background-color: rgb(34, 34, 34);
  padding: 20px;
  border-radius: 20px;
  justify-content: space-between;
}

.run-content {
  width: 40%;
  align-items: center;
  margin: 70px;
}

.run-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.run-desc {
  font-size: 1.2rem;
  opacity: 0.5;
  margin-bottom: 30px;
}
.run-image {
  width: 50%;
}
.run-image img {
  width: 80%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  margin-left: 150px;
}

/* bmi calculator styles  */


.bmi-calculator-section{
  max-width: 100%;
}
.bmi-calc-heading {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.bmi-calculator-title {
  font-size: 2rem;
  font-weight: 600;
}
.bmi-calc-desc {
  font-size: 1.2rem;
  opacity: 0.5;
  margin-top: 10px;
}

.bmi-calc-container {
  justify-content: space-between;
  max-width: 100%;
  margin: 0;
  background-color: rgb(34, 34, 34);
  padding: 20px;
}

.bmi-calc-table {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  margin-top: 20px;
}
.table-title{
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
}
table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
}

td, th {
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 8px;
}
td{
  opacity: .6;
}
.bmi-calculator-content {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.bmi-result-title{
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 25px;
}
.bmi-result-desc{
  font-size: 1rem;
  opacity: 0.5;
  margin-bottom: 20px;
}
.input-types-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bmi-calculator-content input[type="number"], input[type="text"], select {
  width: 98%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.363);
}

.bmi-calculator-content button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(230, 83, 60);
  color: white;
  cursor: pointer;
}

/* team section  */

.meet-our-team-section{
  max-width: 80%;
  margin: 40px auto;
}


.section-heading{
  text-align: center;
  margin-bottom: 20px;
}
.meet-our-team-title{
  font-size: 3rem;
  font-weight: 800;
}
.meet-our-team-desc{
  font-size: 1rem;
  opacity: 0.4;
  margin-bottom: 30px;
}
.meet-our-team-content{
  background-color: #33313170;
  padding: 20px;
  border-radius: 20px;
  text-align: center; 
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.team-member{
  position: relative;
}

.team-member img {
  width: 480px;
  height: 400px;
  border-radius: 20px;
}

.team-member-desc{
  position: absolute;
  bottom: 25px;
  left: 30px;
  padding: 10px;
}



/* footer section  */

footer{
  width: 100%;
  background-color: #333131;
}

.footer-container{
  max-width: 80%;
  margin: 0 auto;
  padding: 80px;
}
.footer-content{
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.151);
}
.footer-left, .footer-right, .footer-center{
  width: 25%;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.footer-left h2{
  font-size: 55px;
  margin-bottom: 20px;
  color: rgb(230, 83, 60);
}
.footer-left p, .footer-center p , .footer-right p{
  color: white;
  opacity: 0.5;
  margin-bottom: 20px;
}

.footer-center h2, .footer-right h2{
  font-size: 35px;
  color: white;
  margin-bottom: 10px;
}

.copyright p{
  margin-top: 20px;
  color: white;
  opacity: 0.5;
  text-align: center;
}



















/* mobile responsive  */

@media screen and (max-width: 576px) {
  .navbar {
    padding: 15px 20px;
    max-width: 100%;
  }
  .nav-options {
    display: none;
  }
  .menu {
    display: block;
    color: white;
    font-size: 30px;
  }
  .banner-section {
    padding: 0px;
    max-width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .banner-content {
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .banner-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .banner-desc p {
    font-size: 1.2rem;
    opacity: 0.5;
    margin-bottom: 10px;
  }
  .banner-image img {
    margin-left: 0px;
    position: relative;
  }
  .banner-image-content {
    top: 120%;
    left: 25%;
  }
  .banner-image-content-2 {
    top: 95%;
    left: 75%;
  }
  .services-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .change-habits-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .run-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .run-content {
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .run-image {
    width: 100%;
  }
  .run-image img {
    width: 100%;
    margin-left: 0;
  }
  .bmi-calc-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .bmi-calc-table{
    width: 100%;
    margin-top: 20px;
  }
  .bmi-calculator-content {
    width: 100%
  }

  .meet-our-team-content{
    grid-template-columns: 1fr;
  }
  .team-member img{
    width: 100%;
    height: auto;
  }
  .footer-container{
    padding: 20px;
    max-width: 100%;
    margin: 0;
  }
  .footer-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-left, .footer-right, .footer-center{
    width: 100%;
    padding: 20px;
  }
}
